*{
    font-family: 'Quicksand', sans-serif;
}
h2{
    text-align: center;
    font-size: larger;
}
/***************CSS Genreal del body*******************/
body{
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;;
}
/****************CSS del header****************/
header{
    background-color: black;
    color: white;
    width: 100%;
    left: 0;
    padding: 0px;
    position: relative;
    height: auto;
}
.nav{
    background-color: gray;
    color: white;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    font-size: x-small;
    left: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*****************CSS de imagnenes *****************/
.imgAbout{
    width: 40%;
    border-radius: 10px;
    transition: 3s;
}
/********Aplicando flex en our clientes*/
.flex-container{
    background-color: aliceblue;
    width: 500px; 
    height: 300px;
    margin: 10px;
    padding: 0px;
    display: inline-flex;
    }

.imgSopaCalabaza{
    width: 30%;
    border-radius: 10px;
    transition: 3s;
}
/*Transformacion de imagenes*/
.imgSopaCalabaza:hover{ 
    transform: translateX(200px);    
}
.contenedor1:hover .imgAbout {
    -webkit-transform:scale(0.5);transform:scale(0.5);
}
.contenedor1 {
    overflow:hidden;
} 

/************ CSS de pie de pagina******************/
footer{
    background-color: black;
    color: white;
    width: 100%;
    left: 0;
    padding: 0px;
    text-align: center;
    font-size: x-small;
    clear: both;
    bottom: 0%;
    position:absolute;
    height: auto;
}
#social{
    width: 15px; 
    height: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
}
/* Pseudo clase para cambiar el color sobre los objetos*/ 
#social:hover {
    color: gainsboro;
}
.nav:hover{
    color: gainsboro;
}
/* Pseudo clase para cambiar el color sobre los enlaces de sucursales*/
.sucursales:visited {
    color: blue;
} 
.psucursales{
    font-family: 'Quicksand', sans-serif;
    font-size:smaller;
}

/********************CSS del formulario de registro ********************/
fieldset{
    padding: 5px;
    border-style:dotted;
}
label, input{
    font-size: 1.0vw;
}
input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=tel],
input[type=number],
input[type=url],
input[type=textArea],
input[type=radio],
input[type=checkbox],
.estudios{
    width: 80%;
    padding: 1vw;
    margin: 1vw;
    display: inline-block;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit],
button[type=reset]{
    width: 50%;
    height: 50%;
    background-color: blueviolet;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}
.button{
    text-align: center;
}
input[type=submit]:hover, 
button[type=reset]:hover{
    background-color: blue;
}
form{

    border-radius: 5px;
    background-color: ghostwhite;
    padding: 2%;
    margin: 0 auto;
    width: 550px;
}
textarea{
    width: 80%;
}
/**********************CSS de las sucursales************************/
iframe{
 width: 300px;
 height: 200px;
 border: 0px;  
 padding: 10px; 
}
/*************puntos de control sobre el form**********************/
@media only screen and (max-width: 600px){
    .form{
        background: #D5DBDB ;
    }
    h1{
        font-size: 22px;
    }
    label, input, fieldset{
        font-size: small;
    }
    input[type=submit],
    button[type=reset]{
    background-color:  #909497  ;
    }
}

@media only screen and (min-width: 600px){
    .form{
        background:#FADBD8;
    }
    h1{
        font-size: 12px;
    }
    label, input, fieldset{
        font-size: small;
    }
    input[type=submit],
    button[type=reset]{
    background-color:  #909497  ;
    }
}

@media only screen and (min-width: 768px){
    .form{
        background: #E8DAEF;
        font-size: x-large;
    }
    label, input, fieldset{
    font-size: small;
    }
    h1{
        font-size: 20px;
    }
    input[type=submit],
    button[type=reset]{
    background-color:  #2E4053 ;
    }
}

@media only screen and (min-width: 992px){
    .form{
        background: #A9DFBF;
        font-size: large;
    }
    h1{
        font-size: 26px;
    }
    input[type=submit],
    button[type=reset]{
    background-color:  #2E4053 ;
    }
}

@media only screen and (min-width: 1200px){
    .form{
        background: #D6EAF8;
    }
    h1{
        font-size: 36px;
        font-size: medium;
    }
    input[type=submit],
    button[type=reset]{
    background-color: blueviolet;
    }
    label, input, fieldset{
        font-size: medium;
    }
}
