*{
    font-family: 'Quicksand', sans-serif;
}
h2{
    text-align: center;
    font-size: larger;
}
/***************CSS del body*******************/
body{
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;;
}
/****************CSS del header****************/
header{
    background-color: black;
    color: white;
    width: 100%;
    left: 0;
    padding: 0px;
    position: relative;
    height: auto;
}
.nav{
    background-color: gray;
    color: white;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    font-size: x-small;
    left: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*****************CSS de imagnenes *****************/
.imgAbout{
    width: 40%;
    border-radius: 10px;
    transition: 3s;
}
.imgClient{
    width: 500px; 
    height: 300px;
    margin: 10px;
    padding: 0px;
}
.imgSopaCalabaza{
    width: 30%;
    border-radius: 10px;
    transition: 3s;
}
/*Transformacion de imagenes*/
.imgSopaCalabaza:hover{ 
    -webkit-transform: rotate(180deg);transform: rotate(180deg);
}
.contenedor1:hover .imgAbout {
    -webkit-transform:scale(0.5);transform:scale(0.5);
}
.contenedor1 {
    overflow:hidden;
} 

/************ CSS de pie de pagina******************/
footer{
    background-color: black;
    color: white;
    width: 100%;
    left: 0;
    padding: 0px;
    text-align: center;
    font-size: x-small;
    clear: both;
    bottom: 0%;
    position:absolute;
    height: auto;
}
#social{
    width: 15px; 
    height: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
}
/* Pseudo clase para cambiar el color sobre los objetos*/ 
#social:hover {
    color: gainsboro;
}
.nav:hover{
    color: gainsboro;
}
/********************CSS del formulario de registro ********************/
fieldset{
    padding: 5px;
    border-style:dotted;
}
label, input{
    font-size: 1.0vw;
}
input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=tel],
input[type=number],
input[type=url],
input[type=textArea],
input[type=radio],
input[type=checkbox],
.estudios{
    width: 80%;
    padding: 1vw;
    margin: 1vw;
    display: inline-block;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit],
button[type=reset]{
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover, 
button[type=reset]:hover{
    background-color: blue;
}
form{

    border-radius: 5px;
    background-color: ghostwhite;
    padding: 2%;
    margin: 0 auto;
    width: 550px;
}
textarea{
    width: 80%;
}
/**********************CSS de las sucursales************************/
iframe{
 width: 300px;
 height: 200px;
 border: 0px;  
 padding: 10px; 
}
/*puntos de control aun no estoy usando esta parte es solo de ejemplo*/
.example{
    padding: 20px;
    color:white;
}
.responsivo{
    font-size: 3vw;
}
@media only screen and (max-width: 600px){
    .example{
        background: green;
    }
    h1{
        font-size: 22px;
    }
    .responsivo{
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px){
    .example{
        background: red;
    }
    h1{
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px){
    .example{
        background: blue;
    }
    h1{
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px){
    .example{
        background: orange;
    }
    h1{
        font-size: 26px;
    }
}

@media only screen and (min-width: 1200px){
    .example{
        background: pink;
    }
    h1{
        font-size: 36px;
    }
}
